modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 5000

[[ports]]
localPort = 18196
externalPort = 3001

[[ports]]
localPort = 18197
externalPort = 3003

[[ports]]
localPort = 18238
externalPort = 3000

[[ports]]
localPort = 18239
externalPort = 3002

[[ports]]
localPort = 18240
externalPort = 4200

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c2Vuc2libGUtcGVuZ3Vpbi0xNC5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_PUBLISHABLE_KEY = "pk_test_c2Vuc2ibGUtcGVuZ3Vpbi0xNC5jbGVyay5hY2NvdW50cy5kZXYk"
SUPERADMIN_EMAIL = "Shadiq.cse@gmail.com"

[nix]
channel = "stable-25_05"
